{{ if .Site.Author }}
    {{ $baseURL := .Site.BaseURL }}
    <div class="Profile">
    {{ with .Site.Author.avatar }}
        <div class="ProfileAvatar">
        <img src="{{ $baseURL }}{{ . }}" alt="Author Avatar" class="ProfileAvatar__avatar" />
        </div>
    {{ end }}
    {{ with .Site.Author.name }}
        <div class="Profile__name">{{ . }}</div>
    {{ end }}
    {{ with .Site.Author.profile }}
        <div class="Profile__profile">{{ . }}</div>
    {{ end }}
    <div class="ProfileLinks">
        {{ range .Site.Author.links }}
        <a class="ProfileLinks__link" href="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a>
        {{ end }}
    </div>
    </div>
{{ end }}