{{ define "main" }}
  <article>
    <header class="SingleArticleHeader">
      <h1>{{ .Title }}</h1>
      {{ if .Params.hideDate }}
      {{ else}}
        <div class="SingleArticleHeader__time">
          {{ partial "time.html" . }}
        </div>
      {{ end }}
      {{ partial "taxonomies.html" .}}
    </header>
    <section>
    {{ .Content }}
    </section>
    {{ if .Params.hideNav }}
    {{ else }}
      <footer>
        <nav class="SingleArticleNav">
          <div class="SingleArticleNav__next">
            {{ with .NextInSection }}<a href="{{ .Permalink }}">&lt; {{ .Title }}</a>{{ end }}
          </div>
          <div class="SingleArticleNav__prev">
            {{ with .PrevInSection }}<a href="{{ .Permalink }}">{{ .Title }} &gt;</a>{{ end }}
          </div>
        </nav>
      </footer>
    {{ end }}
  </article>
{{ end }}